*, *::before, *::after{
    background-color: #50514F ;
    box-sizing: border-box;
    font-size: 16px;
    color: #3772FF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100%;

}

.container {
    display: grid;
    width: 800px;
    max-width: 80%;
    background-color: #ABC8C0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
    margin: 5%;
    gap: 10px;
}

div {
    background-color: #abc8c0;
    color: #50514F;
}

.btn-answer{
    display: grid;
}

.btn {
    background-color: #abc8c0;
    color: #50514F;
    margin: 3px;
}

.btn:hover{
    border-color: #3772FF ;
    cursor: pointer;
}

.timerBtn, .returnBtn, .startBtn, .skipBtn{
    font-size: 1.5rem;
}

#start-btn{
    font-size: 1.5rem;
}

.hide {
    display: none;
}